html,body,textarea
{
	scrollbar-3d-light-color:	#0000FF;
	scrollbar-arrow-color:		#000066;
	scrollbar-base-color:		#000000;
	scrollbar-face-color:		#CCCCFF;
	scrollbar-dark-shadow-color:	#000066;
	scrollbar-shadow-color:		#000066;
	scrollbar-highlight-color:	#6666FF;
}

body
{
	font-family:Verdana,Tahoma,Sans-Serif;
}

input,select,textarea
{
	font-family:Verdana,Tahoma,Sans-Serif;
	border:1px solid #000066;
}

.newsysSmallTextArea
{
	width:500px;
	height:150px;
}

.newsysTextArea
{
	width:500px;
	height:350px;
}

.newsysButton
{
	cursor:hand;
	font-weight:bold;
	border-style:outset;
	background-color:#336699;
	color:#FFFFFF;
}

.newsysTable
{
	border:1px solid black;
/*	width:100%;*/
	margin-bottom:3px;
}

.newsysInfo
{
	font-size:11px;
	text-align:right;
}
/*
.newsysHeader
{
	text-align:center;
	background-color:#330066;
	color:#FFCCCC;
	padding:2px;
	border-bottom:1px solid black;
	font-size:14px;
}
*/
/*
.newsysTable th
*/
.newsysHeader
{
	text-align:center;
	background-color:#000066;
	color:#CCCCFF;
	padding:2px;
	font-size:14px;
}

.newsysFooter
{
	text-align:center;
	background-color:#FFCC99;
	color:#000000;
	font-size:12px;
	padding:2px;
}

.newsysDesc
{
	text-align:right;
	background-color:#FF9933;
	color:#FFFFFF;
	border-right:1px solid black;
	border-bottom:1px solid black;
	vertical-align:top;
/*	width:50%;*/
	padding:2px;
}

.newsysData1
{
	background-color:#DDDDFF;
	border-bottom:1px solid black;
	padding:2px;
}

.newsysData2
{
	background-color:#EEEEFF;
	border-bottom:1px solid black;
	padding:2px;
}

hr
{
	height:1px;
	border:0px;
	border-top:1px solid #000000;
	color:#000000;
}

.newsysHeader a:link,.newsysTable th a:link
{
	color:#FFFF66;
}

.newsysHeader a:visited,.newsysTable th a:visited
{
	color:#FFFFCC;
}

.newsysStrong
{
	font-weight:bold;
}

h3
{
	border:1px dashed black;
	padding:3px;
	background-color:#CCCCFF;
}

form
{
	margin:0px;
}
